
<style>
hr {
	border: 1px solid darkcyan;
}

h4 {
	font-size: 1.2rem;
}
</style>

<section class="intro container" style="min-height: 90vh; border: 0px dashed darkcyan; padding: 3%; border-radius: 10px">

	<div class="row justify-content-center">
	 <h1 style="text-align: center; color: black; font-weight: 500; font-size: 50px"> Start with ClioCollab. <hr/>See how Cliosight works. </h1>
	  </div> 
	     <br/><br/><br/>
	     <div class="row justify-content-center">

			 <div class="col-sm-5">
                <button class="btn mt-2 code" onclick="window.open('https://github.com/cliocrm'), '_blank'"> Get code from GitHub</button>

                <button class="btn mt-2 main" onclick="window.location.href='#contact'"> Sign up for Free Tier</button>
                </div>
          </div>


</section>


       
        <section class="intro container" style="border: 0px dashed darkcyan; padding: 3%; border-radius: 10px; margin-top: 0%; margin-bottom: 3% ">
 		<div class="row ">
 		               
               <div  class="col-sm-5 d-flex align-items-center">
               <img
				src="https://img.freepik.com/free-vector/coding-concept-illustration_114360-939.jpg"
				alt="illustration-intro"/>
               
               </div>

 				<div class="col-sm-7" >
                <h4 style="text-align:center; font-weight: 500">About this application</h4><hr/>
                <h4 style="text-align:center;">
                ClioCollab is a sample Javascript application built to demonstrate the uses of Cliosight's tables, forms, reports and automation functionalities.
                By signing up with Cliosight and customizing projects like ClioCollab, developers and data analysts can build awesome apps instantly. Within a few hours you can go live with data analysis modules without having to install any third-party software locally or on a hosting platform.
                If you are looking to test your ideas or build a similar application, then this is the right place to get started. We promise the minimum learning curve for the most complex capabilities provided by cloud platforms.</h4><br/>
                

                <button class="btn mt-2 main" onclick="window.open('/'), '_blank'">Visit Cliosight</button>

				
               </div> 
               

        </div>
       </section> 
	
	<div class="trial container">

	<h2 style="color: yellow; font-weight: 800;">Try core offerings from sections below without signing up. </h2> <hr style="border: 1px solid white"/>
	<h2 style="text-align: right; font-weight: 800;">Start right away with a Cliosight project.</h2>

	
	</div>
        
<br/><br>

<section id="cm" class="components intro">

    
    <div class="row d-flex align-items-center">
    
    <div class="col-sm-7">
    <h4 style="text-align: center;">Contacts Management</h4><hr/>
	 <h4>
      Easy grouping and tagging of contacts.</h4><br/>
    <h4>
      Built-in notifications management.</h4><br/>
    <h4>
      Easy in-app import and intergrations.</h4><br/>
    <h4>
      Insights in various formats.</h4><br/>
    <button class="btn main" onclick="window.location.href='#sampleforms'"> Create a Contact or Group </button><br/><br/>
    <button class="btn main" onclick="window.location.href='#samplereports'">See a Sample Report</button><br/><br/>
	
	   
	</div>
			
    <div class="col-sm-5">
   <img src="https://img.freepik.com/free-vector/setup-concept-illustration_114360-382.jpg?w=740&t=st=1667459086~exp=1667459686~hmac=fd5a84530922a2cd9ddaabc4095ac0a8646227a0b96d06ffa50dbb40c1d3dfdf" />
   </div>
    </div>


</section>


<br/><br/>
<section id="vc" class="components intro">

    
    <div class="row d-flex align-items-center justify-content-center">
    
    <div class="col-sm-7">
    <h4 style="text-align: center;">Video Conferencing Solution</h4><hr/>
		<h4>
      Secure HD Video conferencing.</h4><br/>
    <h4>
      Built-in group chat and file transfer.</h4><br/>
    <h4>
      Automated scaling and infrastructure.</h4><br/>
    <h4>
      Insights in various formats.</h4><br/>
    <button class="btn main" onclick="window.location.href='#sampleforms'"> Set up an instant meeting </button><br/><br/>
    <button class="btn main" onclick="window.location.href='#samplereports'">See a Sample Report</button><br/><br/>
	
	   
	</div>
    <div class="col-sm-5">
<img src="https://img.freepik.com/free-vector/grades-concept-illustration_114360-618.jpg?w=740&t=st=1667459128~exp=1667459728~hmac=6f840f73d43e8bb7c137aba778dbd350313d90af120f24e01c3e9643b84e8201" />
    </div>
    </div>


</section>



<br/><br/>
<section id="cs" class="components intro">

    
    <div class="row d-flex align-items-center justify-content-center">
    
    <div class="col-sm-7">
    
	<h4>Customer Support Management</h4><hr/>
    <h4>
      Simple Support Ticket creation.</h4><br/>
    <h4>
      Categorization of issues.</h4><br/>
    <h4>
      Automated or manual status updates.</h4><br/>
    <h4>
      Insights in various formats.</h4><br/>
    <button class="btn main" onclick="window.location.href='#sampleforms'"> Create a Support Ticket </button><br/><br/>
    <button class="btn main" onclick="window.location.href='#samplereports'">See a Sample Report</button><br/><br/>
		
	   
	</div>
    <div class="col-sm-5">
    
    <img src="https://img.freepik.com/free-vector/website-setup-illustration-concept_114360-847.jpg?w=740&t=st=1667459259~exp=1667459859~hmac=e9ae3fceaff260658afdad686b25eead8325376ed1b47ad0002e8c672acb0570" />
    </div>
    </div>


</section>

<section class="container intro" id="sampleforms">

<div class="row">
	<div class="col-sm-6" id="contacts_form"><br/>
	<h4 style="text-align: center">Contact Creation Form</h4>
	<div class="polaroid" style="margin-bottom: 10px;">
	<iframe style="width: 100%; height: 500px;"
				src="https://app.cliosight.co/app/forms/35/show?noNavbar=true"></iframe>
	
	</div>
	
	</div>
	
	<div class="col" id="groups_form"><br/>
	<h4 style="text-align: center">Group Creation Form</h4>
	<div class="polaroid" style="margin-bottom: 10px;">
		<iframe style="width: 100%; height: 500px;"
				src="https://app.cliosight.co/app/forms/34/show?noNavbar=true"></iframe>
	</div>
	
	</div>


</div>

</section>


        
        <div class="intro" style="padding: 3%; border: 2px dashed darkcyan; border-radius: 10px; margin-bottom: 5%">
          <div class="row">
            
	<div class="col-sm-8 d-flex align-items-center" >
	
		<div class="container">
                <h4 style="text-align: left">Creating contacts and grouping them is much smarter with
                our algorithms. Use of complex hybrid forms for modularity and deep insights is easy. SQL queries make portable reports more flexible. Run these on any type of data. Always backup your figures with proof.</h4>
				<hr/>
                <h4 style="text-align: left"> <a class="content-link" href="#features"> See other features below</a> </h4><hr/>
            </div>
            </div>
            
       <div class="col-sm-4 d-flex align-items-center">
            <img src="https://img.freepik.com/free-vector/site-stats-concept-illustration_114360-1434.jpg?w=740&t=st=1667539532~exp=1667540132~hmac=5bf18e3d2b6d22ead9d52083b78ba57840557bd4580b07106a156f3c118cd68e">
	</div>
            </div>
        </div>

	
	        <div id="features" class="features">

            <div class="features-item">
                <div class="features-item-head"><img src="https://media.istockphoto.com/vectors/cloud-vector-id908851992?k=20&m=908851992&s=612x612&w=0&h=_XRK6np46VuZOyugIob_mxEMI4T76vSrAc5l0BYFdnQ="/> </div>
                <div class="features-item-body  mt-2">
                    <h4>For All Devices</h4>

                    <h4>Ability to use a smartphone, tablet, or computer to access an account means the network follows you.</h4>
                </div>
            </div>

            <div class="features-item">
                <div class="features-item-head"> <img src="https://media.istockphoto.com/vectors/access-vector-id907990458?k=20&m=907990458&s=612x612&w=0&h=FTgs-FZ1iH1QJhX3MqehRbTmciAd5qWaQEK9KvctgFU="/></div>
                <div class="features-item-body mt-2">
                    <h4> Security</h4>
                    <h4> 2-factor authentication and user-controlled encryption are just two security features of the lot.</h4>
                </div>

            </div>
            <div class="features-item">
                <div class="features-item-head"> <img src="https://media.istockphoto.com/vectors/sale-online-screen-vector-id1062123708?k=20&m=1062123708&s=612x612&w=0&h=gwfPh8QHTGVz1m0dwSkfO_PTXr8cVW_sattSRy9mUJE="/></div>
                <div class="features-item-body  mt-2">
                    <h4> Minimal Lags</h4>
                    <h4> You can securely establish calls with friends, family and colleagues for live collaboration and share large files.</h4>
                </div>

            </div>

        </div>








