<section class="intro container" style="min-height: 100vh; max-height: 100vh;">
        <div class="row  d-flex align-items-center">

            <div class="col">
            
            <div class="intro-content">
                <h1 style="text-align: left; font-weight: 400; color: black"> Get started with an extensible Javascript application.</h1><br/>
                <h3>Try this app with ClioCRM's basic structures.</h3>
				<br/>
			 <div class="row">

					<div class="col-sm-12">
                <button class="btn mt-2 code" onclick="window.open('https://github.com/cliocrm'), '_blank'"> Get code from GitHub</button>
                </div>
                <div class="col-sm-12">
                <button class="btn mt-2 main" onclick="window.location.href='#allcomponents'"> See all modules</button>
                </div>
                </div><br/><br/>
             </div>
             </div>
             
            <div class="col-sm-7">
        	<img src="https://img.freepik.com/free-vector/team-concept-illustration_114360-678.jpg?w=2000" alt="intro"/>
            
            </div>
            
	</div>

        </section>
       
        <section class="about">
 
                <h3 style="text-align:center; ">About ClioCollab</h3><hr/>
                <h3>
                ClioCollab is a sample project for demonstrating the use of ClioCRM's tables, forms and reports and automation functionalities.
                By signing up with ClioCRM and customizing projects like ClioCollab, developers and data analysts can build awesome apps instantly. Within a few hours you can go live with data analysis modules without having to install any third-party software locally or on a hosting platform.
                </h3><br/><br/>
                
				<div class="row">
				<div class="col">
				<div class="row justify-content-center">
                	<div class="col-sm-4">
                <button class="btn mt-2 main" onclick="window.open('/cliocrm'), '_blank'">Visit ClioCRM</button>
                 </div>
               
                </div>
                  
                </div>
                </div>
				
                
        </section>
        
       
        
        <section class="intro">
          <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <img src="https://img.freepik.com/free-vector/digital-presentation-concept-illustration_114360-8115.jpg?w=2000">
	</div>
	
	<div class="col">
	
		<div class="intro-content"><br/><hr/>
                <h3 style="text-align: left">Creating contacts and grouping them is much smarter with
                our algorithms. Use of complex hybrid forms for modularity and deep insights is easy. SQL queries make portable reports more flexible. Run these on any type of data. Always present real figures with proof to your audiences.</h3>
				<hr/>
                <h3 style="text-align: left"> <a class="content-link" href="#features"> See other features <i class="fas fa-arrow-alt-circle-right"></i></a> </h3><hr/>
            </div>
            </div>
            </div>
        </section>
        
        	
	
	<section class="trial container">

	<p class="black">Try core offerings from sections below without signing up. </p>
	<p class="black">Start right away with a ClioCRM project.</p>

	
	</section>
        
	<section id="allcomponents" class="productive container">
		<div class="row">
		
					
		   <div class="col-sm-4">
				<a href="#cm"><img src="https://img.freepik.com/free-vector/confirmed-attendance-concept-illustration_114360-7495.jpg?w=2000" /></a>
			<h3>Contacts</h3><br/><br/>
			</div><br/><br/>
			
			<div class="col-sm-4">
				<a href="#vc"><img src="https://img.freepik.com/free-vector/course-app-concept-illustration_114360-6219.jpg?w=2000" /></a>
			<h3>Video Calls</h3><br/><br/>
			</div><br/><br/>
			
			<div class="col-sm-4">
				<a href="#cs"><img src="https://img.freepik.com/free-vector/call-center-concept-illustration_114360-2045.jpg?w=2000" /></a>
			<h3>Support</h3>
			</div>
		
		</div>
	
	</section>

<section id="cm" class="components">
    
    <div class="row">
    <div class="col-sm-4">
    <h3>
    &#9851; Automated grouping </h3></div><br/>

    <div class="col-sm-4">
     <h3>
    &#9851; Built-in email notifications</h3></div><br/><br/>
     <div class="col-sm-4">
     <h3>
    &#9851; Easy in-app integrations</h3></div><br/>

    </div>
    
    <div class="row" style="margin-top: 5%">
    <div class="col">
    
    <div class="row">
    
    <div class="col">
    <div class="polaroid">
  	<div class="container">
  	
  		<button class="btn main" onclick="window.location.href='#components'"> Create a Contact</button><br/>
  		<br/><h3>The contact created will be sent to the email address provided.</h3>
  		
  		</div>
  	</div><br/>
  	</div>
  	
  	 <div class="col">     
  	 <div class="polaroid">
  
  	<div class="container">
  
  		<button class="btn main" onclick="window.location.href='#components'"> Create a Group</button><br/><br/>
  		<h3>Create groups with contacts from multiple files with ClioCRM.  <a href="/cliocrm" style="color: blue; text-decoration: underline;">Try now</a>.</h3>
  		</div>
  	</div>
	</div>
    </div>
  </div>
</div>

</section>

<br/><br/>
<section id="vc" class="components">
    
    <div class="row">
    <div class="col-sm-4">
    <h3>
    &#9851; HD Video conferencing</h3></div><br/>

    <div class="col-sm-4">
     <h3>
    &#9851; Built-in file transfer</h3></div><br/><br/>
     <div class="col-sm-4">
     <h3>
    &#9851; Secured transfer of data</h3></div><br/>

    </div>
    
    <div class="row" style="margin-top: 5%">
    <div class="col">
    
    <div class="row">
    
    <div class="col">
    <div class="polaroid">
	<div class="container">
  		
  		<button class="btn main" onclick="window.location.href='#components'"> Set up a meeting </button><br/><br/>
  		<h3>Please share the password or access code prior to the meeting. </h3>
  		</div>
  	</div><br/>
  	</div>
  	
  	 <div class="col">     
  	 <div class="polaroid">
  
  	<div class="container">

  		<button class="btn main" onclick="window.location.href='#components'">Try Broadcasting</button><br/><br/>
  		<h3>Automate sending emails to contacts and groups with ClioCRM. <a href="/cliocrm" style="color: blue; text-decoration: underline;">Try now</a>.</h3>
  	</div>
  	</div>
	</div>
    </div>
  </div>
</div>

</section>


<br/><br/>
<section id="cs" class="components">

    
    <div class="row">
    <div class="col-sm-4">
    <h3>
    &#9851; Simple Ticket creation</h3></div><br/>

    <div class="col-sm-4">
     <h3>
    &#9851; Automated categorization</h3></div><br/><br/>
     <div class="col-sm-4">
     <h3>
    &#9851; Insights in various formats </h3></div><br/>

    </div>
    
    <div class="row" style="margin-top: 5%">
    <div class="col">
    
    <div class="row">
    
    <div class="col">
    <div class="polaroid">
	<div class="container">
  		
  		<button class="btn main" onclick="window.location.href='#components'"> Create a Ticket </button><br/><br/>
  		<h3>Details of the support ticket will be sent to the recipient email address. </h3>
  		</div>
  	</div><br/>
  	</div>
  	
  	 <div class="col">     
  	 <div class="polaroid">
  
  	<div class="container">

  		<button class="btn main" onclick="window.location.href='#components'">See a Report</button><br/><br/>
  		<h3>Create unlimited reports from customer issues in ClioCRM. <a href="/cliocrm" style="color: blue; text-decoration: underline;">Try now</a>.</h3>
  	</div>
  	</div>
	</div>
    </div>
  </div>
</div>

</section>

	
	        <section id="features" class="features">

            <div class="features-item">
                <div class="features-item-head"><img src="https://media.istockphoto.com/vectors/cloud-vector-id908851992?k=20&m=908851992&s=612x612&w=0&h=_XRK6np46VuZOyugIob_mxEMI4T76vSrAc5l0BYFdnQ="/> </div>
                <div class="features-item-body  mt-2">
                    <h3>For All Devices</h3>

                    <h4>Ability to use a smartphone, tablet, or computer to access an account means the network follows you.</h4>
                </div>
            </div>

            <div class="features-item">
                <div class="features-item-head"> <img src="https://media.istockphoto.com/vectors/access-vector-id907990458?k=20&m=907990458&s=612x612&w=0&h=FTgs-FZ1iH1QJhX3MqehRbTmciAd5qWaQEK9KvctgFU="/></div>
                <div class="features-item-body mt-2">
                    <h3> Security</h3>
                    <h4> 2-factor authentication and user-controlled encryption are just two security features of the lot.</h4>
                </div>

            </div>
            <div class="features-item">
                <div class="features-item-head"> <img src="https://media.istockphoto.com/vectors/sale-online-screen-vector-id1062123708?k=20&m=1062123708&s=612x612&w=0&h=gwfPh8QHTGVz1m0dwSkfO_PTXr8cVW_sattSRy9mUJE="/></div>
                <div class="features-item-body  mt-2">
                    <h3> Minimal Lags</h3>
                    <h4> You can securely establish calls with friends, family and colleagues for live collaboration and share large files.</h4>
                </div>

            </div>

        </section>

<div id="contact" class="container intro">
			<div class="contact-form">
			<div class="row  d-flex align-items-center">
			
			<div class="col-sm-6">
			<div class="polaroid" style="margin-bottom: 10px;">
			<iframe style="width: 100%; height: 330px;"
				src="https://app.cliosight.co/app/forms/32/show?noNavbar=true"></iframe>
			<p style="margin-left:15px;">Created with ClioCRM forms</p>
			</div>
		
			</div>
			
			<div class="col-sm-6">
			<img src="https://img.freepik.com/premium-vector/hello-word-memphis-background_136321-401.jpg?w=2000" />
			<h5>cliosight@gmail.com</h5>
				<hr/>
				<a href="linkedin.com">Linkedin</a>&nbsp;|&nbsp;<a href="linkedin.com" >Slack</a> &nbsp;|&nbsp;<a href="linkedin.com">Discord</a>&nbsp;|&nbsp;<a href="linkedin.com">YouTube</a>
				<br/><hr/>
			
			</div>
			</div>
			</div>

</div>
    







