<!--  Supabase password: Cliocrm123! -->

<style>
hr {
	border: 1px solid darkcyan;
}
</style>

<div class="container intro" style="min-height: 100vh">
	<div class="row">
	
			<div class="col"></div>
		<div class="col-sm-5 d-flex align-items-center">
			<img
				src="https://img.freepik.com/free-vector/programmer-concept-illustration_114360-2284.jpg?w=740&t=st=1667458209~exp=1667458809~hmac=48e0e860a78fad182313c4cab49f5ae78af7eeb92774ff811c932d8db102c0ea"
				alt="illustration-intro"/>
		</div>
		
		<div class="col-sm-6">
				<h2 style="text-align: left; color: black; font-weight: 800; font-size: 35px">Collect, Aggregate and Query any data instantly. 
				 Create & share widgets in minutes!</h2><br/> 


      <div class="row">
			<div class="col-sm-12">
					<button class="btn mt-2 main"
						onclick="window.location.href='#contactus'">
						Get Access to Free Tier</button>
						<br/>
						        <button class="btn mt-2 code"
						onclick="window.open('https://github.com/cliocrm'), '_blank'">
						Follow us on GitHub</button>
			</div>
			
			</div>

		</div>
		
	</div>

</div>

    
    <div class="container about">
			
			<div class="row d-flex align-items-center">
			
			<div id="features" class="col-sm-7" style="padding: 2.5%; border: 3px dashed darkcyan; border-radius: 10px"><br/>
			<h3 style="color: darkcyan">Why Cliosight?<br/><hr/></h3>
			<h3 style="text-align: left; margin:5px;padding-bottom: 0%;color: black;">
				Build Tables, Forms and Reports for any website or app. <hr/>Create Triggers and automate workflows or campaigns.<hr/>
			Export and import data to and from multiple data sources. <hr/>Send alerts, updates and reports through notifications.<hr/>Accommodate multiple users through built-in access control.<hr/>
			
			</h3>

			</div>
			
		<div class="col-sm-5">
			<img style="width: 100%" 
				src="https://img.freepik.com/free-vector/javascript-frameworks-concept-illustration_114360-734.jpg?w=740&t=st=1667458336~exp=1667458936~hmac=a15274980f320558df154ba34276a394db43a9b22a9e82ed45bc48082a556522"/>
		</div>
	
			</div>
			
</div>

	<section class="trial container">

	<h2 style="color: yellow; font-weight: 800;">Use the best in class databases and storage types. Choose from files, spreadsheets, relational databases, cloud serverless warehouses or decentralized cloud storages.</h2><hr style="border: 1px solid white"/>
	<h2 style="color: floralwhite; font-weight: 800; text-align: right">Access all with a simple SQL interface for building powerful data collection and reporting structures for any application.</h2>

	
	</section>
        
<br/><br><br/><br/>

<div class="intro container " style="border: 2px solid darkcyan; padding: 3%; border-radius: 10px">
	<div class="row align-items-center d-flex">
						
		<div class="col-sm-5">
			<img
				src="https://img.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_74855-9814.jpg?w=740&t=st=1666740557~exp=1666741157~hmac=9c6cfe8f8b187144bfe10cd766f0cc71eec1d9787cbbd9a9b6568bec765c1c34"/>
		</div>
		
		
		<div class="col-sm-7">

				<h2 style="margin-top: 20px; font-weight: 800">ClioCollab is a sample application for demonstrating the uses of Cliosight's widgets and automation functionalities. Get the source code for free.</h2><br/>
				  
      <div class="row">


      <div class="col-sm-6">
					<button class="btn mt-2 main"
						onclick="window.open('https://youtube.com'), '_blank')">
						Watch Video</button>
		</div>
		
		<div class="col-sm-6">
						
						<button class="btn mt-2 code"
						onclick="window.open('/cliocollab'), '_blank'">
						Visit Website</button>
			</div>
			
			</div>
		</div>
		
	</div>

</div>


<div class="intro container">
<div class="contact-form">
<div class="row align-items-center d-flex">

	<div class="col-sm-7" style="padding: 2.5%; border: 3px dashed darkcyan; border-radius: 10px">
	<h3 style="text-align: left; color: darkcyan">Free Tier Offerings</h3><hr/>
	<div class="row">
	
	<div class="col-sm-4">
	<h3>Database <hr/>
	Files  <hr/>
	Widgets <hr/>
	Automation   <hr/>
	Notifications   <hr/>
	Support </h3><hr/>
	</div>
	
	<div class="col">
	<h3 style="text-align: right;">20MB free database storage.<hr/>
	Limited storage for files.<hr/>
	Unlimited forms and reports.<hr/>
	Unlimited triggers and workflows.<hr/>
	Unlimited emails and notifications.<hr/>
	Free customizations and support.</h3><hr/>
	</div>
	</div>
	</div>
	<div class="col"></div>
	<div class="col-sm-4" id="contactus" style="padding: 2.5%; margin-top: 10px; border: 3px dashed black; border-radius: 10px">
		<h3 style="">Upgraded Plans</h3><hr style="border: 1px solid black"/>
		<h3 style="color: green">Developer  Tier<hr style="border: 1px solid black"/>Professional Tier<hr style="border: 1px solid black"/>For Enterprises</h3><hr style="border: 1px solid black"/>
			<h3 style="color: black">Details coming soon...</h3>
		</div>
	</div>
	
</div>

</div>

 

        