

<style>
hr {
	border: 1px solid darkcyan;
}
</style>

<div class="container intro d-flex align-items-center" style="min-height: 100vh; max-height: 100vh;">
	<div class="row">
		
		<div class="col-sm-5">

				<h1 class="cliocrmtitle">Collect and Query data in the simplest way!</h1>
				 <br/><h3>Build customized surveys and forms for apps with links to embed anywhere in minutes. Start for free. </h3><br/> 


      <div class="row">
			<div class="col-sm-12">
        <button class="btn mt-2 code"
						onclick="window.open('https://github.com/cliocrm'), '_blank'">
						Follow us on GitHub</button>

					<button class="btn mt-2 main"
						onclick="#contactus">
						Get Email Updates</button>
			</div>
			
			</div>

		</div>
		
		
		<div class="col-sm-7 d-flex align-items-center">
			<img
				src="https://img.freepik.com/free-vector/cross-platform-software-concept-illustration_114360-7293.jpg?w=740&t=st=1666861967~exp=1666862567~hmac=4739c198a15da2e34335b17f04194575f843366bf54afc11deb149d8870b0822"
				alt="illustration-intro"/>
		</div>
		
	</div>

</div>

    
    <div id="contact" class="container intro" style="border: 2px solid darkcyan; border-radius: 0px; padding-left: 5%;">
			<div class="contact-form">
			<div class="row">
			
			<div id="features" class="col-sm-8">
			<h3 style="text-align: left; margin:5px;padding-bottom: 5%;color: black;">
				Build Tables, Forms and Reports for any website or app. <hr/>Create Triggers and automate workflows or campaigns.<hr/>
			Export and import data to and from varied data sources. <hr/>Send alerts, updates and reports through notifications.<hr/>Accommodate multiple users through built-in access control.
			<br/>
			</h3>

			</div>
			
		<div class="col-sm-4  d-flex align-items-center">
			<img
				src="https://img.freepik.com/premium-vector/presenting-annual-report-flat-illustration_82574-7738.jpg?w=740"/>
		</div>
	
			</div>
			
			</div>

</div>

<section class="intro container ">
	<div class="row align-items-center d-flex">
		
						
		<div class="col-sm-5">
			<img
				src="https://img.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_74855-9814.jpg?w=740&t=st=1666740557~exp=1666741157~hmac=9c6cfe8f8b187144bfe10cd766f0cc71eec1d9787cbbd9a9b6568bec765c1c34"/>
		</div>
		
		
		<div class="col-sm-7">

				<h1>ClioCollab is a sample application for demonstrating the uses of ClioCRM's widgets and APIs. </h1><br/>
				  
      <div class="row">


      <div class="col-sm-6">
					<button class="btn mt-2 main"
						onclick="window.open('https://youtube.com'), '_blank')">
						Watch Video</button>
		</div>
		
		<div class="col-sm-6">
						
						<button class="btn mt-2 code"
						onclick="window.open('/'), '_blank'">
						Visit Website</button>
			</div>
			
			</div>
		</div>
		
	</div>

</section>

<div class="intro container">
<div class="contact-form">
<div class="row align-items-center d-flex">

	<div class="col-sm-6" style="padding: 10px;">
	<h3 style="color: darkcyan;">Free tier offerings</h3><hr/>
	<h3>20MB free storage for your database.<hr/>
	Limited storage space for your files.<hr/>
	Unlimited portable forms and reports.<hr/>
	Unlimited triggers and workflows.<hr/>
	Free support and customizations.</h3><hr/>
	</div>
	
	
	<div class="col-sm-6">
			
			<div class="polaroid">
			<iframe style="height: 330px; width: 100%;"
				src="https://app.cliosight.co/app/forms/32/show?noNavbar=true"></iframe>
			<p style="margin-left:15px;">Created with ClioCRM forms</p>
			</div>
		</div>
	</div>
	
</div>

</div>

  

        