<!--  Supabase password: Cliocrm123! -->

<style>


h3 {
	font-size: 1.2rem;
}
</style>


<section class="intro container" style="min-height: 90vh;">

<h1 style="text-align: center; color: black; font-weight: 400; font-size: 50px"> Collect, Aggregate and Query data in minutes. <hr/>Start for free.</h1><br/><br/>
        <div class="row  d-flex align-items-center justify-content-center">
			
            <div class="col-sm-5">
            <div class="intro-content">
                <!--  <h1 style="text-align: left; color: black; font-weight: 600; font-size: 5vw"> Collect, Aggregate and Query data in minutes. </h1>
                 <br/> -->
                 
                 <div class="row">

					<div class="col-sm-12">
                
                <button class="btn mt-2 main" onclick="window.location.href='#contactus'"> Sign up for Free Tier</button>
                </div>
                <div class="col-sm-12">
                <button class="btn mt-2 code" onclick="window.open('https://github.com/cliocrm'), '_blank'"> Follow us on GitHub</button>
                </div>
                </div>
				<br/>
             </div>
             </div>
            
	</div>
        </section>

    
    <div class="container about">
			
			<div class="row d-flex align-items-center">
			
						
		<div class="col-sm-5">
			<img style="width: 100%" 
				src="https://img.freepik.com/free-vector/programmer-concept-illustration_114360-2284.jpg"/>
		</div>
		
			<div id="" class="col-sm-7" style="padding: 0%; border: 0px solid darkcyan; border-radius: 10px"><br/>
			<h3 style="color: darkcyan; font-weight: 400">Why Cliosight?<br/><hr/></h3>
			<h3 style="text-align: left; margin:5px;padding-bottom: 0%;font-weight: 400;">
				Build Tables, Forms and Reports for any website or app. <hr/>Create Triggers and automate workflows or campaigns.<hr/>
			Export and import data to and from multiple data sources. <hr/>Send alerts, updates and reports through notifications.<hr/>Accommodate multiple users through built-in access control.
			<hr/>
			</h3>

			</div>

	
			</div>
			
</div>

	<div class="trial container">

	<h2 style="color: yellow; font-weight: 500; text-align: center">Choose from files, relational databases, cloud serverless warehouses or decentralized storages.</h2><hr style="border: 1px solid white"/>
	<h2 style="color: floralwhite; font-weight: 500; text-align: center">Access all with a simple SQL interface for building powerful data processing elements.</h2>

	
	</div>
       <br/><br/> 
       
    <div class="row" style="margin-bottom: 5%">
    
    <div class="col">
    <img src="https://t3.ftcdn.net/jpg/01/36/98/68/360_F_136986838_aS8cr5MOJy471UBRUxQDfJCS9jFXP7Rq.jpg" />
    </div>
       <div class="col">
       	<img src="https://styles.redditmedia.com/t5_2qm6k/styles/communityIcon_dhjr6guc03x51.png" />
       </div>
       <div class="col">
       	<img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/google_bigquery_logo_icon_168150.png" />
       </div>

       <div class="col">
       	<img src="https://www.fortune.my/wp-content/uploads/2021/09/ipfs.png" />
       </div>
       
    </div>
<section class="container" style="border: 2px dashed darkcyan; border-radius: 10px; margin-top: 2%;">

<h1 style="text-align: center; color: black; font-weight: 400; font-size: 40px">Get started with Cliosight's sample projects</h1>

<hr/>
<div class="intro container " style="border: 0px solid darkcyan; padding: 0%; border-radius: 10px; margin-top: 2%;">
	<div class="row align-items-center d-flex justify-content-center">
						
		<div class="col-sm-4">
			<img
				src="https://img.freepik.com/free-vector/email-campaign-concept-illustration_114360-1681.jpg?w=740&t=st=1667541030~exp=1667541630~hmac=97c5db91e6a1835c8ca284e29cfce6ba1fb9c95a117ac89e43cd01840e3cafd0"/>
		</div>
		
		<div class="col-sm-7">

				<h4 style="margin-top: 20px; font-weight: 400">ClioCollab is a sample application for demonstrating the uses of Cliosight's widgets and automation functionalities. You can see the uses of nested forms and reports and how they can be stored for reuse and embedded into any application. Also get to know how complex data modelling scenarios can be handled in the JSON itself. </h4><br/>
				  
      <div class="row">


      <div class="col-sm-6">
					<button class="btn mt-2 main"
						onclick="window.open('https://youtube.com'), '_blank')">
						Watch Video</button>
		</div>
		
		<div class="col-sm-6">
						
						<button class="btn mt-2 code"
						onclick="window.open('/cliocollab'), '_blank'">
						Visit Website</button>
			</div>
			
			</div>
		</div>
		
	</div>

</div>
<br/><br/>
<hr/>
<div class="intro container " style="border: 0px solid darkcyan; padding: 0%; border-radius: 10px; margin-top: 2%;">
	<div class="row align-items-center d-flex justify-content-center">
		
		<div class="col-sm-4">
			<img
				src="https://img.freepik.com/free-vector/data-report-illustration-concept_114360-883.jpg?w=740&t=st=1667541623~exp=1667542223~hmac=b0047baee28a1946e4348cf16ae4500dbb49697acf19d9d77c4322055efd5ae4"/>
		</div>
		
		<div class="col-sm-7">

				<h4 style="margin-top: 20px; font-weight: 400">Cliosource DAO is another sample application. It is primarily a front-end project with components like file management and object manipulation through a web interface. You can see the uses of forms, reports and triggers that can be used by project owners of a DAO looking to raise funds by pitching their ideas to the communities. </h4><br/>
				  
      <div class="row">


      <div class="col-sm-6">
					<button class="btn mt-2 main"
						onclick="window.open('https://youtube.com'), '_blank')">
						Watch Video</button>
		</div>
		
		<div class="col-sm-6">
						
						<button class="btn mt-2 code"
						onclick="window.open('https://cliosight.co/cliosourcedao.html'), '_blank'">
						Visit Website</button>
			</div>
			
			</div>
		</div>

		
	</div>

</div>
<br/><br/>
<hr/>
<div class="intro container " style="border: 0px solid darkcyan; padding: 0%; border-radius: 10px; margin-top: 2%;">
	<div class="row align-items-center d-flex justify-content-center">
						
		<div class="col-sm-4">
			<img
				src="https://img.freepik.com/free-vector/mobile-browsers-concept-illustration_114360-1228.jpg?w=740&t=st=1667556531~exp=1667557131~hmac=ee29ef661a790e4d6c143477e7fc872580748b1c938d3d519a39e0e905dd821d"/>
		</div>
		
		<div class="col-sm-7">

				<h4 style="margin-top: 20px; font-weight: 400">ClioTarget is a concept from real-world experiences on the current challanges in women's healthcare space. Here we show how surveys can be built to collect relevant medical information from women to detect possible conditions that may destroy their fertility rapidly or indicate any parasitic or fatal diseases like fibroids or cancer. </h4><br/>
				  
      <div class="row">


      <div class="col-sm-6">
					<button class="btn mt-2 main"
						onclick="window.open('https://youtube.com'), '_blank')">
						Watch Video</button>
		</div>
		
		<div class="col-sm-6">
						
						<button class="btn mt-2 code"
						onclick="window.open('/cliocollab'), '_blank'">
						Visit Website</button>
			</div>
			
			</div>
		</div>
		
	</div>

</div>
</section>

<div class=" container" style="border: 2px dashed darkcyan; padding: 5%; margin-top: 5%; border-radius: 10px;">
<h1 style="text-align: center; color: black; font-weight: 400; font-size: 40px">Try creating the most incredible forms and reports!</h1>

<hr/>

<div class="contact-form" id="contactus">
<div class="row align-items-center d-flex">

	<div class="col-sm-8" style="padding-right: 3%; border: 0px dashed darkcyan; border-radius: 10px">
	<h3 style="text-align: left; color: darkcyan">Free Tier Offerings</h3><hr/>
	<div class="row">
	
	<div class="col-sm-4">
	<h4>Database <hr/>
	Files  <hr/>
	Widgets <hr/>
	Automation   <hr/>
	Notifications   <hr/>
	Support </h4><hr/>
	</div>
	
	<div class="col">
	<h4 style="text-align: right;">20MB free database storage<hr/>
	Limited storage for files<hr/>
	Unlimited forms and reports<hr/>
	Unlimited triggers and workflows<hr/>
	Unlimited emails and notifications<hr/>
	Free customizations and support</h4><hr/>
	</div>
	</div>
	</div>
	<div class=""></div>
	<div class="col-sm-4" style="padding: 3%; margin-top: 10px; border: 0px dashed black; border-radius: 10px">
		<h3 style="color: darkcyan">Upgraded Plans</h3><hr/>
		<h4 style="color: black">Developer  Tier<hr/>Professional Tier<hr/>For Enterprises</h4><hr/>
			<h4 style="color: black; font-weight: 500">Details coming soon.</h4>
		</div>
	</div>
	
</div>

</div>

 

        