<h1 class="text-center">Welcome Trial User</h1>

<section class="container cliocrm">
<h1>Create and manage contacts and groups.</h1><hr/>
<div class="row  d-flex align-items-center">
<div class="col-sm-6">
<img style="width: 80%" src="https://media.istockphoto.com/vectors/responsive-design-flat-icon-vector-id1002083274?k=20&m=1002083274&s=612x612&w=0&h=vpetcoi0kAGIZmwNOYP3eEQW9R_g7t9yQ-d20BxaHnA=" />
</div>
<div class="col-sm-5" style="margin-left: 10px;">
	<h2 style="text-align: left"> <a class="content-link" href=""> Create Contact(s) <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Create a Group <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href="/contacts#list"> View Contacts & Groups <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href="/contacts#importexport"> Import Contacts <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href="/contacts#reports"> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>

</div>
</div>
</section>

<section class="container cliocrm">
<h1>Organize and manage virtual meetings</h1><hr/>
<div class="row  d-flex align-items-center">
<div class="col-sm-6">
<img style="width: 80%" src="https://media.istockphoto.com/vectors/video-lessons-flat-icon-vector-id1007713590?k=20&m=1007713590&s=612x612&w=0&h=LEksBv2sDZEpLxWob97EC_OqQwaDExg9lG2lPbDIUiw=" />
</div>
<div class="col">
	<h2 style="text-align: left"> <a class="content-link" href=""> Schedule a Meeting <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Update Meeting Details <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> View All Meetings <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Schedule a Live Session <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
    <h2 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
    
</div>
</div>
</section>

<section class="container cliocrm">
<h1>Log complaints and queries from users</h1><hr/>
<div class="row  d-flex align-items-center">
<div class="col-sm-6">
<img style="width: 80%" src="https://media.istockphoto.com/vectors/comments-flat-icon-vector-id1001438142?k=20&m=1001438142&s=612x612&w=0&h=N75Zwe_fRo1X7wDDWZfo4VtruT9JN9g0wR958OM4SMs=" />
</div>
<div class="col">
	<h2 style="text-align: left"> <a class="content-link" href=""> Create Support Ticket(s) <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Update Ticket Details <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> View All Support Tickets <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Compose an Email <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
	<h2 style="text-align: left"> <a class="content-link" href=""> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h2>
</div>
</div>
</section>


    