<h1 class="text-center">Welcome Trial User</h1>

<section class="container cliocrm">
<h1>Create and manage contacts and groups.</h1><br/><br/>
<div class="row">
<div class="col-sm-6 align-items-center">
<img src="https://media.istockphoto.com/vectors/responsive-design-flat-icon-vector-id1002083274?k=20&m=1002083274&s=612x612&w=0&h=vpetcoi0kAGIZmwNOYP3eEQW9R_g7t9yQ-d20BxaHnA=" />
</div>
<div class="col align-items-center" style="margin-left: 10px;">
	<h3 style="text-align: left"> <a class="content-link" href=""> Create Contact(s) <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Create a Group <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href="/contacts#list"> View Contacts & Groups <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href="/contacts#importexport"> Import & Export Contacts <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href="/contacts#reports"> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>

</div>
</div>
</section>

<section class="container cliocrm">
<h1>Organize and manage virtual meetings</h1><br/><br/>
<div class="row">
<div class="col-sm-6 align-items-center">
<img src="https://media.istockphoto.com/vectors/video-lessons-flat-icon-vector-id1007713590?k=20&m=1007713590&s=612x612&w=0&h=LEksBv2sDZEpLxWob97EC_OqQwaDExg9lG2lPbDIUiw=" />
</div>
<div class="col">
	<h3 style="text-align: left"> <a class="content-link" href=""> Schedule a Meeting <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Update Meeting Details <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> View All Meetings <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Schedule a Live Session <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
    <h3 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
    
</div>
</div>
</section>

<section class="container cliocrm">
<h1>Log complaints and queries from users.</h1><br/><br/>
<div class="row">
<div class="col-sm-6 align-items-center">
<img src="https://media.istockphoto.com/vectors/comments-flat-icon-vector-id1001438142?k=20&m=1001438142&s=612x612&w=0&h=N75Zwe_fRo1X7wDDWZfo4VtruT9JN9g0wR958OM4SMs=" />
</div>
<div class="col">
	<h3 style="text-align: left"> <a class="content-link" href=""> Create Support Ticket(s) <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Update Ticket Details <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Update Status <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> View All Support Tickets <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Compose an Email <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> Create a Report <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
	<h3 style="text-align: left"> <a class="content-link" href=""> View All Reports <i class="fas fa-arrow-alt-circle-right"></i></a> </h3>
</div>
</div>
</section>

<div id="contact" class="container intro">
			<div class="contact-form">
			<div class="row  d-flex align-items-center">
			
			<div class="col-sm-6">
			<div class="polaroid" style="margin-bottom: 10px;">
			<iframe style="width: 100%; height: 330px;"
				src="https://app.cliosight.co/app/forms/32/show?noNavbar=true"></iframe>
			<p style="margin-left:15px;">Created with ClioCRM forms</p>
			</div>
		
			</div>
			
			<div class="col-sm-6">
			<img src="https://img.freepik.com/premium-vector/hello-word-memphis-background_136321-401.jpg?w=2000" />
			<h5>cliosight@gmail.com</h5>
				<hr/>
				<a href="linkedin.com">Linkedin</a>&nbsp;|&nbsp;<a href="linkedin.com" >Slack</a> &nbsp;|&nbsp;<a href="linkedin.com">Discord</a>&nbsp;|&nbsp;<a href="linkedin.com">YouTube</a>
				<br/><hr/>
			
			</div>
	
			</div>
			
			</div>

</div>
    